<table id="albums" style="width:100%;">
    <tr>
        <th>Name</th>
        <th>URL</th>
        <th>Playcount</th>
        <th>Cover</th>
    </tr>
    {{#each albums }}
    <tr>
        <td>{{ Name }}</td>
        <td><a href=" {{ Url }}" >{{Name}}</a></td>
        <td>{{ Playcount }}</td>
        <td><img src="{{ Image }}"></td>
    </tr>
    {{/ each}}
</table>