{{#each this}}
	<tr>
		<td>{{id}}</td>
		<td>{{name}}</td>
		<td>{{description}}</td>
		<td>
		{{#with this.musics}}
			{{#each this}}
				Artist:	{{artist}} | name:	{{name}} | duration:	{{duration}}<br>
			{{/each}}
		{{/with}}
		</td>
	</tr>	
{{/each}}

		
